
:root {
    --surface1: #000000;
    --surface2: #525564;
    --surface3: #74828F;
    --element1: #ffffff;
    --element2: #525564;
    --element3: #aeaeae;
    --neon-text-color: #ff0000;
    --neon-border-color: #08f;
    --neon-shadow: #ffffff;
    --codingIMG: url(./IMG/coding.jpg);
    --liftingIMG: url(./IMG/coding.jpg);
    /*--philIMG: url()*/
}

[data-theme="light"] {
    --surface1: #aaaaaa;
    --surface2: #eeeeee;
    --surface3: #dddddd;
    --element1: #000000;
    --element2: #525564;
    --element3: #ffffff;
    --neon-text-color: #ffffff;
    --neon-border-color: #ffffff;
    --neon-shadow: #ffffff;
    --codingIMG: url(./IMG/coding.jpg);
    --liftingIMG: url(./IMG/coding.jpg);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: var(--element1);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--surface1, #000000);
}

h1{
    margin-top: 1em;
    margin-left: 1em;
    color: var(--element1);
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0 5px 20px var(--element3);
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.5vh;
}

h2 {
    color: var(--element1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
        -1px -1px var(--neon-border-color),
        1px -1px var(--neon-border-color),
        -1px 1px var(--neon-border-color),
        1px -1px var(--neon-border-color);
    margin-top: 1.5em;
    margin-left: 1em;
}


p{
    color: var(--element1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2ch;
    padding: 1em;
    padding-top: 0;
    margin-bottom: 1em;
}

hr {
    background-color: var(--element1);
    border: 1.5px outset var(--element1);
}

.switch-container {
    height: max-content;
    display: flex;
    flex-direction:column;
    color: var(--element3);
    font-weight: bold;
    text-shadow: 0 0 6px black;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.theme-switch {
    position: relative;
    height: 28px;
    width: 50px;
    z-index: 100;
}
.theme-switch input {
    display: none;
}

.slider {
    border: 2px solid var(--element2);
    background-color: var(--element3);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider::before {
    border: 2px solid var(--element2);
    background-color: var(--surface1);
    bottom: 2px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

input:focus + .slider{
    outline: var(--primary);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
  border-radius: 28px;
}

.slider.round::before {
  border-radius: 50%;
}

.fullscreen {
    padding: 3em 1em 2em 1em;
    min-height: 100vh;
    height: max-content;
    
}

.neonFlicker {
    color: var(--element1);
    animation: flicker 1.5s infinite alternate;
}
.borderFlicker {
    animation: flickerBorder 1.5s infinite alternate;
}

.codingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/coding.jpg) center/cover no-repeat;
    animation: bg-flicker 1.5s 1 alternate;
}
.liftingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/powerlifting.jpg) center/cover no-repeat; /*45% 50%;*/
    animation: bg-flicker 1.5s 1 alternate;
}
.philbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/philosophy.jpg) center/auto no-repeat; /*center center/100vh;*/
    animation: bg-flicker 1.5s 1 alternate;
}

.disableHoverClicks {
    pointer-events: none;
}

.glyph {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 100;
    background-color: transparent;
    border: none;
}

.glyph:hover {
    cursor: pointer;
}

.glyph:focus {
    border: solid 1px var(--element3);
    outline: none;
}


.bounce {
    --webkit-animation: bounce 2s;
    --webkit-iteration-count: infinite;
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

.nav{
    height: 3em;
    font-size: 1.5em;
    background-color: var(--surface1);
    box-shadow: 0px 15px 10px var(--surface1);
    border-bottom: 2px solid var(--element2);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 999;
}
.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.nav .link-text {
    display: flex;
    color: var(--element1);
    text-shadow: 0px 3px 10px var(--element3);
    font-weight: bolder;
}

.nav .icon {
    display: none;
    margin-right: 10px;
    margin-left: 10px;
}

.nav .link-text:hover,
.nav .link-text:focus {
    color: var(--element1);
    text-decoration: underline;
    cursor: pointer;
    animation: flickerNav 1.5s 2 alternate; 
}

.profilePic.icon {
    -webkit-filter: brightness(0%) invert(1);
    filter: brightness(0%);
    transition-duration: 0.2s;
}
.profilePic.icon:hover,
.profilePic.icon:active {
    margin-top: -20px;
    margin-bottom: 0;
    height: 80px;
    transition-duration: 0.2s;
}
/* Invert an image */
.invert {
    -webkit-filter: brightness(0%) invert(1);
    filter: brightness(0%) invert(1);
}

.profilePic {
    display: inline;
    float: left;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-top: 5em;;
}

#landing h1:hover {
    cursor: none;
}

#downArrow {
    fill: var(--element1);
}

#expNav img {
    margin-left: 0.8em;
    margin-bottom: -4px;
}
#profilePic {
    height: 25vw;
    min-height: 350px;
    box-shadow: 1px 1px 20px var(--element3);
    border: solid var(--element3);
    border-radius: 50%;
    margin: 3em;
    margin-top: 10px;
}

#more {
    display: none;
}

#moreBtn {
    color: var(--element1);
    font-size: 1.2em;
    background-color: var(--element2);
    border: 1px solid var(--element1);
    border-radius: 10px;
}

@-webkit-keyframes bounce {
    0%, 25%, 50%, 75%,
    100% {--webkit-transform: translateY(0);}
    40% {--webkit-transfrom: translateY(-20px);}
    60% {--webkit-transform: translateY{-12px};}
}

@keyframes bounce {
    0%, 25%, 50%, 75%,
    100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-12px);}
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        font-weight: bolder;

        text-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-text-color),
            0 0 2rem var(--neon-text-color),
            0 0 3rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 5rem var(--neon-text-color);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flickerNav {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        font-weight: bolder;

        text-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 3rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            0 0 5rem var(--neon-border-color);
        
        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flickerBorder {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        

        box-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 3rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            0 0 5rem var(--neon-border-color);
        
        
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}

@keyframes bg-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 100%;/*background: radial-gradient(transparent, #000000 50%), url(./IMG/powerlifting.jpg) no-repeat; */
    }
    10%, 20%, 24%, 55% {
        opacity: 0%;
        /*background: #000000;*/
    }
}

@media only screen and (max-width: 769px){
    p {
        margin-top: 0;
    }
    .profilePic {
        float: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2em;
    }

    #profilePic {
        min-height: 300px;
        height: 300px;
    }

    .profilePic .icon {
        margin-right: 0;
        height: 70px;
    }
    .profilePic a {
        padding: 1em;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 1em;
    }
    p {
        margin-top: 0;
        font-size: 13px;
    }

    .codingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/coding_small.jpg) center/cover no-repeat;
    }
    .liftingbg {
        background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/powerlifting_small.jpg) center/cover no-repeat; /*45% 50%;*/
    }
    .philbg {
        background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/philosophy_small.jpg) center/cover no-repeat; /*center center/100vh;*/
    }

    .nav {
        height: 2.5em;
    }
    .nav .link-text {
        /*display: none;*/
        font-size: 12px;
    }
    .nav .icon {
        display: inline;
    }    
    .profilePic {
        display: flex;
        justify-content: center;
        float: none;
    }
    .profilePic .icon {
        height: 50px;
    }
    
    #profilePic {
        min-height: 200px;
        height: 250px;
    }

    
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
        margin-top: 2em;
    }
    
    .profilePic .row img {
        height: 40px;
    }
    #profilePic {
        min-height: 100px;
        height: 180px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
}
