
/* Dark Mode Default theme */
:root {
    --text: #cbcbcb;
    --surface1: #141414;
    --surface2: #111111;
    --surface3: #444444;
    --element1: #ffffff;
    --element2: #525564;
    --element3: #aeaeae;
    --neon-text-color: #ff0000;
    --neon-border-color: #08f;
    --neon-shadow: #ffffff;
    --link: #007bff;
    --codingIMG: url(./IMG/coding.jpg);
    --liftingIMG: url(./IMG/coding.jpg);
    /*--philIMG: url()*/
}

/* Light mode theme */
[data-theme="light"] {
    --text: #212121;
    --surface1: #bdbdbd;
    --surface2: #cacaca;
    --surface3: #eeeeee;
    --element1: #000000;
    --element2: #525564;
    --element3: #ffffff;
    --neon-text-color: #ffffff;
    --neon-border-color: #dcdcdc;
    --neon-shadow: #ffffff;
    --link: #1100ad;
    --codingIMG: url(./IMG/coding.jpg);
    --liftingIMG: url(./IMG/coding.jpg);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    color: var(--element1);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1ch;
    background-color: var(--surface1, #000000);
    
}

h1{
    margin-top: 1em;
    color: var(--element1);
    text-shadow: 0 5px 5px var(--surface2);
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.5ch;
}

h2 {
    font-family: Courier, monospace;
    color: var(--element1);
    font-weight: bolder;
    letter-spacing: 0.5ch;
    text-shadow:
            -0.1rem -0.1rem 0.5rem var(--surface1),
            0.1rem 0.1rem 0.5rem var(--surface1),
            0 0 0.1rem var(--neon-border-color),
            0 0 0.25rem var(--neon-border-color),
            0 0 0.3rem var(--neon-border-color),
            0 0 0.5rem var(--neon-border-color),
            0 0 0.75rem var(--neon-border-color);
    margin-top: 1.2em;
}

q {
    font-size: 1.5em;
    font-weight: bold;
}

p{
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 10px var(--surface2),
                -2px -2px 10px var(--surface2),
                1px 1px var(--surface1),
                -1px -1px var(--surface1);
    font-size: 15px;
    font-weight: bold;
    padding: 0em;
    margin-bottom: 0;
    margin-top: 1em;
}

hr {
    background-color: var(--element1);
    border: 1.5px outset var(--element1);
}

a {
    color: var(--link);
    font-weight: bolder;
}

.btn {
    color: var(--element1);
    border: 2px outset var(--element1);
}
.btn:hover {
    color: var(--neon-text-color);
}

/* Color mode switch */
.switch-container {
    
    height: max-content;
    color: var(--text);
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
}
.theme-switch {
    display: flex;
    justify-content: center;
    position: relative;
    height: 28px;
    width: 50px;
    z-index: 999;
}
.theme-switch input {
    display: none;
}
.theme-switch p {
    text-align: center;
    margin-top: 1.75em;
}
.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid var(--element2);
    background-color: var(--element3);
    cursor: pointer;
    transition: .4s;
}
.slider::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 4px;
    height: 20px;
    width: 20px;
    border: 2px solid var(--element2);
    background-color: var(--surface1);
    transition: .4s;
    
}
input:focus + .slider{
    outline: var(--primary);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
.slider.round {
  border-radius: 28px;
}
.slider.round::before {
  border-radius: 50%;
}


/* makes div 100% viewport height and expands with content */
.fullscreen {
    padding: 3em;
    min-height: 100vh;
    height: max-content;
    
}


/* For controlling flicker animation with JS if needed*/
.neonFlicker {
    color: var(--element1);
    animation: flicker 1.5s infinite alternate;
}
.borderFlicker {
    animation: flickerBorder 1.5s infinite alternate;
}


/* Backgrounds for landing page hover vignette effect */
.codingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/coding.webp) center/cover no-repeat;
    animation: bg-flicker 1.5s 1 alternate;
}
.liftingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/powerlifting.webp) center/cover no-repeat; /*45% 50%;*/
    animation: bg-flicker 1.5s 1 alternate;
}
.philbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/philosophy.webp) center/auto no-repeat; /*center center/100vh;*/
    animation: bg-flicker 1.5s 1 alternate;
}


/* Don't alow user to hover or click during welcome */ 
.disableHover {
    pointer-events: none;
}


/* Down chevron on landing page */
.glyph {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    z-index: 999;
    background-color: transparent;
    border: none;
}
.glyph:hover {
    cursor: pointer;
}
.glyph:focus {
    border: solid 1px var(--element3);
    outline: none;
}


/* Div will "bounce" over and over */
.bounce {
    --webkit-animation: bounce 2s;
    --webkit-iteration-count: infinite;
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

.icon {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
    transition-duration: 0.2s;
}


/* Navbar, nav links, nav icons */
.nav{
    height: 3em;
    width: 100%;
    font-size: 1.5em;
    background-color: var(--surface2);
    box-shadow: 0px 10px 20px var(--surface2),
                0px 10px 20px var(--surface1),
                0px -15px 30px var(--surface2),
                0px -15px 25px var(--surface2);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 100;
}
.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.nav .icon {
    display: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.nav .link-text {
    display: flex;
    justify-content: center;
    color: var(--element1);
    text-shadow: 0px 3px 10px var(--element3);
    font-weight: bolder;
    transition-duration: 0.2s;
}
.nav .link-text:hover,
.nav .link-text:focus {
    outline: none;
    color: var(--element1);
    text-decoration: underline;
    text-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--surface1),
            0 0 0.5rem var(--neon-border-color),
            0 0 1rem var(--neon-border-color),
            0 0 1.5rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 2.5rem var(--neon-border-color);
    transition-duration: 0.2s;
    cursor: pointer;
}

/* nav tabs, links, and icons */
/* Fight with Bootstrap to change tab styling */
.nav-tabs {
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    height: max-content;
    z-index: 10;
    border-color: var(--element2);
}
.nav-link {
    color: var(--element1);
    text-shadow: 0 0 0.5em var(--element3);
    text-decoration: underline;
    font-weight: bold;
    height: 100%;
    border: 2px solid var(--element2) !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
    transition-duration: 0.2s;
}
.nav-link.active {
    background-color: var(--surface2) !important;
    color: var(--element1) !important;
    border: 3px solid var(--element1) !important;
    border-bottom: 1px solid var(--surface1) !important;
    box-shadow: 0 5px 5px var(--surface2);
    font-weight: bolder;
    text-shadow:
        -0.1rem -0.1rem 0.5rem var(--neon-shadow),
        0.1rem 0.1rem 0.5rem var(--surface1),
        0 0 0.25rem var(--neon-text-color),
        0 0 0.5rem var(--neon-text-color),
        0 0 0.75rem var(--neon-text-color),
        0 0 1rem var(--neon-text-color),
        0 0 1.25rem var(--neon-text-color);
    transition-duration: 0.1s;
}
.nav-link:hover {
    color: var(--element1);
    text-decoration: underline;
    text-shadow:
        -0.1rem -0.1rem 0.5rem var(--neon-shadow),
        0.1rem 0.1rem 0.5rem var(--surface1),
        0 0 0.5rem var(--neon-border-color),
        0 0 1rem var(--neon-border-color),
        0 0 1.5rem var(--neon-border-color),
        0 0 2rem var(--neon-border-color),
        0 0 2.5rem var(--neon-border-color);
    transition-duration: 0.2s;
    cursor: pointer;
}


/* Div containing profile pic and links */
.profileBox {
    margin-top: 3em;
    max-width: 400px;
}
.profileBox .icon:hover,
.profileBox .icon:active {
    margin-top: -20px;
    margin-bottom: 0;
    height: 65px;
    transition-duration: 0.2s;
}


/* Make image black and invert t0 white */
.invert {
    -webkit-filter: brightness(0%) invert(1);
    filter: brightness(0%) invert(1);
}


/* Styling for "Read More" buttons in tabpanes */
.more {
    display: none;
    text-align: left;
    margin-top: 3em;
}
.moreBtn {
    color: var(--element1);
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--surface3);
    border: 2px solid var(--element2);
    border-radius: 10px;
}
#intro {
    text-align: center;
    position: absolute;
    top: 20%;
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.8ch;
    animation: fade ease 4s;
}

#warning {
    text-align: center;
    transition-duration: 1s;
}

#warning p {
    color: white;
    text-shadow: none;
    background-color: black;
    padding: 1em;
    border: 3px solid white;
}
#impact {
    background-color: black;
    border: 3px solid white;
    border-radius: 1em;
    color:white;
    text-shadow:
        -0.1rem -0.1rem 0.5rem #000000,
        0.1rem 0.1rem 0.5rem #000000,
        0 0 0.25rem #ff0000,
        0 0 0.5rem #ff0000,
        0 0 0.75rem #ff0000,
        0 0 1rem #ff0000,
        0 0 1.25rem #ff0000;
    transition-duration: 0.1s;
}

 #proceedBtn {
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    width: 18em;
    height: 3em;
    margin-top: 2em;
    background-color: #04a504;
    border: 2px solid var(--element1);
    border-radius: 1em;
}

#landing h1:hover {
    cursor: none;
}

#downArrow {
    fill: var(--element1);
}

#profilePic {
    box-shadow: 1px 1px 20px var(--neon-border-color);
    border: 1px solid var(--element3);
    border-radius: 50%;
    margin-bottom: 2em;
}



@keyframes fade {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes bounce {
    0%, 25%, 50%, 75%,
    100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-12px);}
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        font-weight: bolder;

        text-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-text-color),
            0 0 2rem var(--neon-text-color),
            0 0 3rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 5rem var(--neon-text-color);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flickerNav {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        font-weight: bolder;

        text-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 3rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            0 0 5rem var(--neon-border-color);
        
        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flickerBorder {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        

        box-shadow:
            -0.1rem -0.1rem 0.5rem var(--neon-shadow),
            0.1rem 0.1rem 0.5rem var(--neon-shadow),
            0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            0 0 3rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            0 0 5rem var(--neon-border-color);
        
        
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}

@keyframes bg-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 100%;/*background: radial-gradient(transparent, #000000 50%), url(./IMG/powerlifting.jpg) no-repeat; */
    }
    10%, 20%, 24%, 55% {
        opacity: 0%;
        /*background: #000000;*/
    }
}


@media only screen and (max-width: 769px) {
    q {
        font-size: 22px;
    }
    .fullscreen {
        padding: 2em;
    }
    
    .profileBox .icon {
        margin-right: 0;
        height: 60px;
    }
    .profileBox a {
        padding: 1em;
    }
    .nav-link span {
        font-size: 20px;
    }
    #intro {
        top: 12em;
        left: 1em;
        font-size: 10px;
    }
    #intro:hover {
        visibility: visible;
    }
    #outro {
        text-align: right;
        font-size: 10px;
        right: 1em;
    }

}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        margin-top: 1.75em;
        margin-bottom: 1em;
    }
    h2 {
        text-align: center;
        width: 100%;
    }
    p {
        font-size: 14px;
    }
  
    .codingbg {
    background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/coding_small.webp) center/cover no-repeat;
    }
    .liftingbg {
        background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/powerlifting_small.webp) center/cover no-repeat; /*45% 50%;*/
    }
    .philbg {
        background: radial-gradient(ellipse at center, transparent, var(--surface1) 70%), url(./IMG/philosophy_small.webp) center/cover no-repeat; /*center center/100vh;*/
    }

    .nav {
        height: 2.5em;
    }
    .nav .link-text {
        font-size: 12px;
    }
    .nav .icon {
        display: inline;
    }    
   
    .profileBox .icon {
        height: 50px;
    }

    .nav-tabs {
        height: 3.4em;
    }
    .nav-tabs .nav-link {
        width: 5em;
        text-align: center;
    }
    .nav-link span {
        display: block;
        font-size: 12px;
    }

    
    #downArrow {
        height: 3em;
    }

}

@media only screen and (max-width: 400px) {
    h1 {
        text-align: center;
        font-size: 28px;
        margin-top: 2.5em;
    }
    h2 {
        font-size: 22px;
        margin-top: 1em;
    }
    q {
        font-size: 20px;
    }
    p {
        padding: 5px;
    }

    .fullscreen {
        padding: 1.5em;
    }

    .profileBox .row img {
        height: 32px;
    }

    .nav-tabs {
        justify-content: space-evenly;
    }
    .nav-tabs .nav-link {
        width: 4.5em !important;
        padding: 0;
    }
    .nav-tabs .nav-link.active {
        border-bottom: 30px solid var(--surface2) !important;
    }
    .nav-link .icon {
        height: 20px;
        width: 20px;
    
    }
    .nav-link span {
        display: block;
        font-size: 11px;
    }

}

@media only screen and (max-width: 320px) {
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    q {
        font-size: 18px;
    }
    .nav-tabs .nav-link {
        width: 3.2em !important;
        
    }
    .nav-tabs .nav-link.active {
        border-bottom: 30px solid var(--surface2) !important;
    }
    .nav-link span {
        font-size: 10px;
    }
}
